

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
    </button>  
  <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let item of navbar">
          <a class="nav-link" routerLink="{{item.route}}" data-toggle="collapse">{{item.displayName}}</a>
        </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="residents">Residents</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="report">Report</a>
        </li>
        <li class="nav-item dropdown">    
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Tenant</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" >Detail</a>
            <a class="dropdown-item" >Add</a>
            <a class="dropdown-item" >Edit</a>
            <a class="dropdown-item" >Delete</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="owners">Owners</a>
        </li>
        <li class="nav-item">            
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" >My Profile</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" >Detail</a>
            <a class="dropdown-item" >Edit</a>
          </div>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Switch Apartment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Switch Apartment</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li> -->
    </ul>
  </div> 
    </nav>
    